.menu-item {
  transition: .5s;
}
.menu-item:hover {
  background-color:#CEE5F2;
  transition: .5s;
}
.menu-item a:hover {
  color: #000 !important;
  transition: .5s;
}
.bakery-color-lightest {
  background-color: #CEE5F2;
}
.bakery-color-light {
  background-color: #ACCBE1;
}
.bakery-color-middle {
  background-color: #7C98B3;
}
.bakery-color-dark {
  background-color: #637081;
}
.bakery-color-darkest {
  background-color: #536B78;
}
.form-check-input:checked {
  background-color: #7C98B3 !important;
  border-color: #CEE5F2 !important;
}
.modal-dialog-centered {
  min-height: calc(70% - 3.5rem);
}
.toast-body {
  font-size: 1rem;
}
