<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>@ViewBag.PageName</title>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  <div class="container shadow-sm">
    <ul class="nav nav-justified shadow-sm">
      <li class="nav-item py-2 px-5 border-end menu-item bakery-color-darkest">
        <a class="nav-link link-secondary text-white" href="/">Home</a>
      </li>
      <li class="nav-item py-2 px-5 border-end menu-item bakery-color-darkest">
        <a class="nav-link link-secondary text-white" href="/treats">Treats</a>
      </li>
      <li class="nav-item py-2 px-5 border-end menu-item bakery-color-darkest">
        <a class="nav-link link-secondary text-white" href="#">Flavors</a>
      </li>
      <li class="nav-item dropdown py-2 px-5 border-end menu-item bakery-color-darkest">
        <a class="nav-link dropdown-toggle link-secondary text-white" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Account</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Account">Account Info</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
    <div class="container-fluid px-0 pt-3 pb-5 ">
      @RenderBody()
    </div>
  </div>
  @* @await Html.PartialAsync("Footer") *@

</body>

</html>
